/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilos para encabezado y navegación */
header {
    background-color: #00acc1;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #ffffff;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ffccbc;
}

/* Contenedor para los botones de sesión, registro e ícono de cuenta */
.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Estilo general de los botones */
.btn-registro {
    background-color: #006064;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-registro:hover {
    background-color: #e64a19;
}

/* Estilos para el botón del ícono de cuenta */
.btn-gestion-datos {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-gestion-datos img {
    width: 24px;
    height: 24px;
}

.btn-gestion-datos:hover img {
    opacity: 0.7;
}

/* Estilos para la sección de productos */
section {
    padding: 20px;
    text-align: center;
}

section img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
}

/* Estilos para el carrusel de productos */
#carrusel-productos {
    text-align: center;
    padding: 20px 0;
}

.carrusel {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#lista-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para los productos */
.producto {
    background-color: #e0f7fa;
    border-radius: 10px;
    padding: 15px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.producto:hover {
    background-color: #00acc1;
}

.producto h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.producto img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.producto p {
    font-size: 1rem;
    color: #666;
}

.producto button{
    background-color: #006064;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el buscador y filtro de categorías */
#buscador {
    padding: 10px;
    width: 60%;
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#categoria {
    padding: 10px;
    width: 60%;
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Estilos responsive para dispositivos móviles */
@media (max-width: 768px) {
    #buscador,
    #categoria {
        width: 90%;
    }

    #lista-productos {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
/* Estilos para el botón del carrito de compras */


.btn-carrito {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-carrito img {
    width: 24px;
    height: 24px;
}

.btn-carrito:hover img {
    opacity: 0.7;
}
.btn-agregar-carrito {
    background-color: #006064;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-agregar-carrito:hover {
    background-color: #e64a19;
}

#contenido-carrito-de-compras table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #00acc1;
}

#contenido-carrito-de-compras table th {
    color: white;
    background-color: #00acc1;
}

#contenido-carrito-de-compras table th {
    text-align: center;    
}

#contenido-carrito-de-compras table td {
    padding: 3px;
}

#contenido-carrito-de-compras table td img {
    width: 30px;
    height: 30px;
}

.celda-cantidad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.celda-valor{
    text-align: right;  
}

.celda-accion{
    text-align: center;
}

.celda-accion a{
    color: #00acc1;
}

.celda-accion a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.btn-modificar-cantidad {
    background-color: #00acc1;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-modificar-cantidad:disabled {
    background-color: #00acc1;
    color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor:not-allowed;
}

/* Estilos para los modales */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-align: left;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para formularios */
#form-gestion-datos,
#form-registro,
#form-contacto,
#form-login {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

#form-gestion-datos label,
#form-registro label,
#form-contacto label,
#form-login label {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

#form-gestion-datos input,
#form-registro input,
#form-contacto input,
#form-login input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

#form-gestion-datos button,
#form-registro button,
#form-contacto button,
#form-login button {
    padding: 15px 20px;
    background-color: #00acc1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#form-gestion-datos button:hover,
#form-registro button:hover,
#form-contacto button:hover,
#form-login button:hover {
    background-color: #00838f;
}

#form-contacto h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

#form-contacto p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para el footer */
footer {
    background-color: #00acc1;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}